.genres {
    display: flex;
    gap: 5px;

    .genre {
        background-color: var(--pink);
        border-radius: 4px;
        padding: 3px 5px;
        font-size: 12px;
        color: white;
        white-space: nowrap;
    }
}